{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="portfolio">
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développement intégrale de l'application</p>
        <p class="card__text-2">Techno : Html/css, javascript, symfony</p>
        <a href="#" class="btn-project">Voir le projet</a>
        </div>
    </div>
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développement intégrale de l'application</p>
        <p class="card__text-2">Techno : Html/css, javascript, symfony</p>
        <a href="#" class="btn-project">Voir le projet</a>
        </div>
    </div>
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développement intégrale de l'application</p>
        <p class="card__text-2">Techno : Html/css, javascript, symfony</p>
        <a href="#" class="btn-project">Voir le projet</a>
        </div>
    </div>
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développement intégrale de l'application</p>
        <p class="card__text-2">Techno : Html/css, javascript, symfony</p>
        <a href="#" class="btn-project">Voir le projet</a>
        </div>
    </div>
</div>
{% endblock %}
