{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="portfolio">
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développeur full-stack</p>
        <p class="card__text">Intégrations des maquettes, gestion de la partie responsive</p>
        <p class="card__text-2">Techno : Html/css, javascript</p>
        <a href="http://bellybutton-group.com" target="_blank" class="btn-project">Voir le projet</a>
        </div>
    </div>
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Permutation</h5>
        <p class="card__text">Product owner et Développeur back-end</p>
        <p class="card__text">Création d'une API REST et d'un backoffice pour une application de mise en relation des agents de police</p>
        <p class="card__text-2">Techno : Html, SCSS, React, Symfony</p>
        <a href="#" class="btn-project btn-project--red">Voir le projet</a>
        </div>
    </div>
    <div class="card" >
        <img src=" {{asset('assets/images/bellybutton.png')}} " class="card__img" alt="">
        <div class="card__body">
        <h5 class="card__title">Bellybutton</h5>
        <p class="card__text">Développement intégrale de l'application</p>
        <p class="card__text">Intégrations des maquettes, gestion de la partie responsive</p>
        <p class="card__text-2">Techno : Html/css, javascript, symfony</p>
        <a href="#" class="btn-project">Voir le projet</a>
        </div>
    </div>
</div>
{% endblock %}
